/* <div class="container__small-card">
  <div class="container__small-card-content">
    <div class="small-card__photo">
    <div class="small-card__title">
  <div class="container__small-card__separator">
</div> */

.container__small-card{
  width: 100%;
  margin-bottom: 15px;  
}

.container__small-card-content{
  width: 100%;
  display: flex;
  flex-direction: row;
}

.small-card__photo{
  max-width: 50%;
  height: auto;
  margin-right: 20px;
  min-width: 150px;
}

.small-card__photo > img{
  max-width: 100%;
  height: auto;
  margin-right: 20px;
  min-width: 100px;
}

.small-card__title {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container__small-card__separator{
  margin-top: 10px;
}
