.container__content{
  height: 75vh;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content__cover > img{
  border:5px solid rgb(144, 144, 144);
  border-radius: 5px;
  min-width: 100px;
  height: 300px;
}

.content__description{
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content__description > p{
  margin: 15px 15px 15px 15px;
  width: 50%;
  color: rgb(198, 197, 197);
}

.content__description > a{
  color:  yellow;
}

button {
  padding: .25rem .5rem;
  margin: .25rem 0;
  font-size: 1.2rem;
  color: black;
  background-color: yellow;
  border: none;
  border-radius: 1rem;
}
