<app-menu-title></app-menu-title>

<div class="container__articles">
  <div class="articles__main">
    <app-big-card
      Id={{mainList[0][0]}}
      photoCover={{mainList[0][1]}}
      cardTitle={{mainList[0][2]}}
      cardDescription={{mainList[0][3]}}
      >
    </app-big-card>
  </div>
  <div class="articles__others">
    <div *ngFor="let item of dataList; let i=index">
      <app-small-card
        Id={{item[0]}}
        photoCover={{item[1]}}
        cardTitle={{item[2]}}
      >
      </app-small-card>
    </div>
    <button type="button" (click)="buttonOnClick()">Ver Mais Filmes</button>
  </div>
</div>
